##  Time-series data and indexing

In [91]:
from datetime import datetime
date1 = datetime(year=2019, month=7, day=4)
date1

datetime.datetime(2019, 7, 4, 0, 0)

In [1]:
from dateutil import parser

In [2]:
date1 = parser.parse('3rd of August 2019 ')

In [3]:
date1

datetime.datetime(2019, 8, 3, 0, 0)

In [4]:
date1.year

2019

In [5]:
date1.month

8

In [ ]:
import datetime
date1 + datetime.timedelta(days=10)

In [6]:
date1.strftime('%Y-%m-%d')

'2019-08-03'

In [7]:
date1.strftime('%y/%m/%d')

'19/08/03'

In [8]:
date1.strftime('%b %d %Y')

'Aug 03 2019'

In [9]:
from datetime import datetime
datetime.strptime('2019-08-03','%Y-%m-%d')

datetime.datetime(2019, 8, 3, 0, 0)

In [10]:
import numpy as np
date2 = np.datetime64('2019-08-03',dtype=np.datetime64)
date2

numpy.datetime64('2019-08-03')

In [11]:
date2+np.arange(3)

array(['2019-08-03', '2019-08-04', '2019-08-05'], dtype='datetime64[D]')

In [12]:
import pandas as pd

In [13]:
date3 = pd.to_datetime('3rd of Aug, 2019')
date3

Timestamp('2019-08-03 00:00:00')

In [14]:
date3.strftime('%Y')

'2019'

In [16]:
pd.to_timedelta(np.arange(12),'D')

TimedeltaIndex([ '0 days',  '1 days',  '2 days',  '3 days',  '4 days',
                 '5 days',  '6 days',  '7 days',  '8 days',  '9 days',
                '10 days', '11 days'],
               dtype='timedelta64[ns]', freq=None)

In [17]:
date3+pd.to_timedelta(np.arange(12),'D')

DatetimeIndex(['2019-08-03', '2019-08-04', '2019-08-05', '2019-08-06',
               '2019-08-07', '2019-08-08', '2019-08-09', '2019-08-10',
               '2019-08-11', '2019-08-12', '2019-08-13', '2019-08-14'],
              dtype='datetime64[ns]', freq=None)

In [111]:
import pandas as pd
price = pd.read_csv('price.csv')
price.head()

            Unnamed: 0   open   high    low  close    volume        date
date
2019-01-02           0  226.5  226.5  219.0  219.5  32900482  2019-01-02
2019-01-03           1  214.0  218.0  214.0  215.5  34615620  2019-01-03
2019-01-04           2  211.5  211.5  206.5  208.0  67043521  2019-01-04
2019-01-07           3  212.0  214.0  211.0  213.0  35695176  2019-01-07
2019-01-08           4  212.0  212.5  210.0  211.0  23794481  2019-01-08

In [152]:
price.index = pd.to_datetime(price.date)

In [ ]:
price.head()

In [154]:
price['2019-01']

            Unnamed: 0   open   high    low  close    volume        date
date
2019-01-02           0  226.5  226.5  219.0  219.5  32900482  2019-01-02
2019-01-03           1  214.0  218.0  214.0  215.5  34615620  2019-01-03
2019-01-04           2  211.5  211.5  206.5  208.0  67043521  2019-01-04
2019-01-07           3  212.0  214.0  211.0  213.0  35695176  2019-01-07
2019-01-08           4  212.0  212.5  210.0  211.0  23794481  2019-01-08
2019-01-09           5  212.0  216.5  211.0  215.5  51255446  2019-01-09
2019-01-10           6  216.0  216.5  214.5  216.0  20832593  2019-01-10
2019-01-11           7  219.0  220.5  218.0  220.5  28658288  2019-01-11
2019-01-14           8  218.5  220.0  217.0  218.5  17612296  2019-01-14
2019-01-15           9  216.5  221.0  215.5  221.0  42990923  2019-01-15
2019-01-16          10  218.5  220.0  217.5  217.5  30038282  2019-01-16
2019-01-17          11  218.0  221.0  218.0  220.5  21163986  2019-01-17
2019-01-18          12  219.0  220.0  217.5  218.5  52677569  2019-01-18
2019-01-21          13  220.0  223.0  220.0  221.0  32515866  2019-01-21
2019-01-22          14  220.0  223.0  219.0  223.0  30958483  2019-01-22
2019-01-23          15  221.5  222.0  220.0  220.5  18671213  2019-01-23
2019-01-24          16  222.5  222.5  220.5  222.5  31348924  2019-01-24
2019-01-25          17  226.5  227.0  225.0  226.0  48039764  2019-01-25
2019-01-28          18  229.5  229.5  228.0  229.0  29134257  2019-01-28
2019-01-29          19  222.5  225.0  222.0  222.5  42566520  2019-01-29
2019-01-30          20  220.5  221.5  220.0  221.0  51889945  2019-01-30

In [155]:
price['2019-01-14':'2019-03-03']