# 3. Set

## 3.1 Definition

* Sets are unordered
* Set elements are unique. Duplicate elements are not allowed
* A set itself may be modified, but the elements contained in the set must be of an immutable type.

## 3.2 Creat a set object

A set can be created in two ways.
* Method 1: Use the bulit-in "set()" function.
* Method 2: Use curly braces "{}"

Method 1: Use bulit-in set() function
* Syntax: x = set(<iter>)
    * the argument <iter> is an iterable, e.g., list or tuple

In [2]:
Days = set(["Sun","Mon","Tue","Wed","Thu","Fri","Sat"])
Days

{'Fri', 'Mon', 'Sat', 'Sun', 'Thu', 'Tue', 'Wed'}

We see that the resulting sets are unordered: the original order, as specified in the definition, is not necessarily preserved.

In [3]:
Dates = set((15,16,17))
Dates

{15, 16, 17}

Strings are also iterable, so a string can be passed to set() as well.

In [4]:
s = 'morning'
list(s)

['m', 'o', 'r', 'n', 'i', 'n', 'g']

In [5]:
set(s)

{'g', 'i', 'm', 'n', 'o', 'r'}

From above we observe duplicate values "n" are only represented in the set once.

Method 2: Define a set with curly braces "{}"
* Syntax: x = { obj, obj, ..., obj}
    * Each "obj" is a distinct element of the set.

In [6]:
x = {"a", "b", "b", "c"}
x

{'a', 'b', 'c'}

Notice the difference between these two methods.

In [7]:
{"good"}

{'good'}

In [8]:
set("good")

{'d', 'g', 'o'}

Create an empty set

Empty set:
Python interprets empty curly braces "{}" as an empty dictionary (explained later), so the only way to define an empty set is to use the "set() " function.

In [9]:
x1 = {}
type(x1)

dict

In [10]:
x2 = set()
type(x2)

set

An empty set is interpreted as "false" in Boolean context.

In [11]:
x3 = set()
bool(x3)

False

In [12]:
x3 or 1

1

Some notices on set

We may have the impression that sets should contain similar objects. For example

In [13]:
x4 = {1, 2, 3} # set of numbers
x5 = {"a", "b", "c"} # set of strings

Python does not require this; the elements in a set can be of different types.

In [14]:
x6 = {1, "a", False}
x6

{1, False, 'a'}

Remember set elements must be immutable. So a tuple could be included in a set, but lists and dictionaries cannot.

In [15]:
x7 = {1, (2, 3)}
x7

{(2, 3), 1}

In [16]:
x8 = {1, [2, 3]}

TypeError: unhashable type: 'list'

## 3.3 Set Size and Membership

The "len" function returns the number of elements in a set.

In [17]:
len(x7)

2

The "in" and "not in" operators are used to test for membership.

In [18]:
x7

{(2, 3), 1}

In [19]:
1 in x7

True

In [20]:
2 not in x7

True

## 3.4 Operating on a Set

* Python set operations mimic the operations defined for methematical sets.
* Notice many operations used for other Python collection data types don't make sense for sets. For example, sets have no index and hence cannot be sliced.

### Set union

2 ways of set operations: by operator or by method.

In [21]:
y1 = {1, 2, 3}
y2 = {2, 4, 6}

The union of y1 and y2 (by operator):

In [22]:
y1 | y2

{1, 2, 3, 4, 6}

The union of y1 and y2 (by method):

In [23]:
y1.union(y2)

{1, 2, 3, 4, 6}

In above example, both ways behave identically.

However, there is a subtle difference between these two approaches. (This difference generally applies to other set operations)
* When we use | operator, both operands must be sets
* The ".union()" method, on the other hand, will take any iterable as an argument, convert it to a set, and then perform the union.

In [24]:
s1 = {"a", "b"}

In [25]:
s1 | ("b", "c")

TypeError: unsupported operand type(s) for |: 'set' and 'tuple'

In [26]:
s1.union(("b", "c"))

{'a', 'b', 'c'}

###  Set intersection

In [29]:
y1 & y2

{2}

In [30]:
y1.intersection(y2)

{2}

### Set difference

In [31]:
y1 - y2 # in y1 but not in y2

{1, 3}

In [32]:
y1.difference(y2)

{1, 3}

###  symmetric difference

In [27]:
y1

{1, 2, 3}

In [28]:
y2

{2, 4, 6}

In [33]:
y1 ^ y2 # symmetric difference: elements in either y1 or y2, but not both

{1, 3, 4, 6}

In [ ]:
y1.symmetric_difference(y2)

### relationships between two sets

“y1.isdisjoint(y2)”determines whether or not two sets y1 and y2 have any elements in common. Notice there is no corresponding operator.

In [34]:
y1.isdisjoint(y2)

False

If x1.isdisjoint(x2) is True, then x1 & x2 is the empty set:

In [35]:
x1 = {1, 3, 5}
x2 = {2, 4, 6}

In [36]:
x1.isdisjoint(x2)

True

In [37]:
x1 & x2

set()

Whether one set is a subset of the other:
* x1.issubset(x2)
* x1 <= x2

In [38]:
x1 = {'a', 'b'}
x2 = {'a', 'b', 'c'}
x3 = {'b', 'c', 'd'}

In [39]:
x1.issubset(x2)

True

In [40]:
x1 <= x2

True

In [41]:
x1 <= x3

False

A set is considered to be a subset of itself by definition:

In [42]:
x1 <= x1

True

"x1 < x2" determines whether one set is a proper subset of the other.

In [43]:
{'a'} < {'a', 'b'}

True

x1.issuperset(x2)

x1.issuperset(x2) and x1 >= x2 
return True if x1 is a superset of x2

In [44]:
x1 = {'a', 'b'}
x2 = {'a'}

In [45]:
x1.issuperset(x2)

True

In [46]:
x1 >= x1

True

A proper superset

In [ ]:
x1 > x2

In [47]:
x1

{'a', 'b'}

In [48]:
x2

{'a'}

In [49]:
x1>x2

True

In [50]:
x1>x1

False

## 3.5 Modifying a Set

### 3.5.1 Augmented Assignment Operators and Methods

Modify a set by union.

x1.update(x2[, x3 ...])
x1 |= x2 [| x3 ...]

In [54]:
x1 = {'a', 'b'}
x2 = {'a','c'}

In [55]:
x1 |= x2
x1

{'a', 'b', 'c'}

In [56]:
 x1.update(x2)
x1

{'a', 'b', 'c'}

Modify a set by intersection.

x1.intersection_update(x2[, x3 ...])

x1 &= x2 [& x3 ...]

In [60]:
x1 = {'a', 'b'}
x2 = {'a','c'}
x1 &= x2
x1

{'a'}

In [58]:
x1 = {'a', 'b'}
x2 = {'a','c'}
x1.intersection_update(x2)
x1

{'a', 'c'}

Modify a set by difference

x1.difference_update(x2[, x3 ...])

x1 -= x2 [| x3 ...]

In [61]:
x1 = {'a', 'b'}
x2 = {'a','c'}
x1 -= x2
x1

{'b'}

In [62]:
x1 = {'a', 'b'}
x2 = {'a','c'}
x1.difference_update(x2)
x1

{'b'}

In [63]:
x2

{'a', 'c'}

Modify a set by symmetric difference.

x1.symmetric_difference_update(x2)

x1 ^= x2

In [64]:
x1 = {'a', 'b'}
x2 = {'a','c'}
x1.symmetric_difference_update(x2)
x1

{'b', 'c'}

In [65]:
x2

{'a', 'c'}

In [66]:
x1 = {'a', 'b'}
x2 = {'a','c'}
x1 ^= x2
x1

{'b', 'c'}

In [67]:
x1

{'b', 'c'}

### Other Methods For Modifying Sets

Adds an element to a set.

x.add(<elem>)

adds <elem>, which must be a single immutable object, to x:

In [68]:
stkcds = {'2300','2330','2331'}
stkcds.add('2332')
stkcds

{'2300', '2330', '2331', '2332'}

x.remove(<elem>)

Removes an element from a set.

x.remove(<elem>) removes <elem> from x. Python raises an exception if <elem> is not in x:

In [70]:
stkcds = {'2300','2330','2331'}
stkcds.remove('2331')
stkcds

{'2300', '2330'}

In [71]:
stkcds.remove('2332')

KeyError: '2332'

In [72]:
stkcds = {'2300','2330','2331'}
stkcds.discard('2332')

In [73]:
stkcds

{'2300', '2330', '2331'}

In [74]:
stkcds = {'2300','2330','2331'}
stkcds.pop()

'2331'

In [75]:
stkcds

{'2300', '2330'}

In [77]:
stkcds = {'2300','2330','2331'}
stkcds.clear()

In [ ]:
stkcds

## 3.6 Frozen Sets

In [78]:
stkcds = frozenset(['2300','2330','2331'])
stkcds

frozenset({'2300', '2330', '2331'})

In [79]:
len(stkcds)

3

You can perform non-modifying operations on a frozenset:

In [83]:
stkcds & ({'2331'})

frozenset({'2331'})

In [ ]:
But methods that attempt to modify a frozenset fail:

In [80]:
stkcds.add('2332')

AttributeError: 'frozenset' object has no attribute 'add'

In [81]:
stkcds.discard('2332')

AttributeError: 'frozenset' object has no attribute 'discard'